
.fullbody{
    background: radial-gradient(#40183a 80%, transparent 20%) 0 0,
    radial-gradient(#40183a 20%, transparent 90%) 10px 10px;
    background-size: 20px 20px; 
    height: 100vh;
}
.firstplan{
    color: black;
    padding: 5vh;
    /* border-radius: 20px; */
    box-shadow: -10px 0 20px 5px rgba(0, 0, 0, 0.3); /* Left side shadow */
    color: white;
    background: linear-gradient(to right, rgb(140, 34, 201), rgb(205, 25, 184)) !important; 
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:  10vh;
    /* background: radial-gradient(#40183a 80%, transparent 20%) 0 0,
    radial-gradient(#40183a 20%, transparent 90%) 10px 10px;
    background-size: 20px 20px;  */
}

.plandetails{
    margin-top: 5vh;
}
.heading{
  padding: 20px;
  text-align: center;
  /* background-color: rebeccapurple; */
  color: gold;
  text-decoration: underline;
}

.purchase_button{
    background:linear-gradient(to right,#eb116f ,#890e43,#eb116f );
    padding: 4px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    margin: auto;

}

.purchase_button:hover {
    color: #a49696;
    border: 0.5px solid   #a49696;;
    background-color: #3e0936;
  }


