.loginbutton{
    margin-top: 1px;
}
.error{
    color: red;
    font-size: 13px;
    padding: 0px !important;
}
.error1{
    color: red;
    font-size: 10px;
    padding: 0px !important;
    max-width: 200px; 
}
.blur-background {
    filter: blur(5px);
  }