.userbutton{
    background: linear-gradient(to right, #40183A, #A63E96);
    padding: 2px 40px ;
    border-radius: 20px;
    border: none;
    color: white;
    margin:10px

}
.userbutton:hover{
    border:1px solid #40183A;
    padding: 2px 40px ;
    border-radius: 20px;
    color: black;
    background-color: white !important;
}