.maindiv{
    height:90vh ;
    overflow-y: hidden;
}
.chatareaforuser{
    /* background: linear-gradient(to right,#771a42 ,#c0105c,#771a42 ); */
    /* background: radial-gradient(#40183a 80%, transparent 20%) 0 0,
    radial-gradient(#40183a 20%, transparent 90%) 10px 10px;
    background-size: 20px 20px;  */
    overflow-y: hidden;
    


}