.messageinput{
    /* display: flex; */
   /* margin-left: 5px; */
}
.sendmessage{
    border-radius: 5px;
    text-align: left;
    /* background:linear-gradient(to right, #40183a, #832b76); */
    /* background-color: rgb(209, 201, 201); */

    color: black;
    font-size: 13px;
    padding: 15px;
    margin: auto;



}
.sendmessage::placeholder{
    text-align: left;
    color: rgb(49, 48, 48);
    
}
.sendbutton{
    border:  none;
    color:white;
    background:linear-gradient(to right, #3362d1, #5980dc);
    border-radius: 10px;
    padding: 13.5px;
    margin-left: -35px;
}
.sendbutton:hover{
    /* border:  1px solid white; */
    color:rgb(30, 29, 29);
}
