.recieve{
    display: flex;
    justify-content: flex-start;
}

.send{
    display: flex;
    justify-content: flex-end;
}
.send .message_bubble{
    background: linear-gradient(to left, #882277, #cc40ba);
    border-radius: 10px 10px 0 10px;
    margin: 30px 0 30px 0;
    padding: 0px 20px ;
    font-size: 14px;
    color: wheat;
    padding-top: 16px;
    margin-left: 0px;
}
.recieve .message_bubble{
    background: linear-gradient(to right, #882277, #cc40ba);
    border-radius: 10px 10px 10px 0px;
    margin: 30px 0 30px 0;
    padding: 0px 30px ;
    font-size: 14px;
    color: wheat;
    padding-top: 10px;

}

@media (max-width:800px){
        .send .message_bubble{
            margin: 20px 0 20px 0;
            padding: 7px 20px ;
            font-size: 10px;
            color: white;
            padding-top: 16px;
        }
        .recieve .message_bubble{
            margin: 20px 0 20px 0;
            padding: 7px 20px ;
            font-size: 10px;
            color: white;
            padding-top: 16px;
        }

}

.time{
    font-size: 10px;
    color: beige;
    margin-left: 60px;
}
.recievetime{
    font-size: 10px;
    color: beige;
    margin-right: 60px;
}