.sidebarusers{
    overflow-y: scroll;
    /* background-color: red; */

    


}
.sidebarusers {
    overflow-y: scroll; /* Allow scrolling */
    
}
.sidebarusers::-webkit-scrollbar {
    display: none;
  }
.linktochat{
    text-decoration: none;

}

.user{
    height: 70px;
    border-bottom: 1px rgb(86, 34, 82) solid;
    padding-left: 20px;
    padding-top: 15px;

}
.user:hover{
    background: linear-gradient(to right, #882277, #5c2154, #6a2161);
}
.head{
    padding: 1vh;
    /* background-color: red; */
    border-bottom: 1px rgb(175, 175, 175) solid;
  


}

.search{
    width: 100%;
    border-radius: 5px;
    height: 25px;
    
}
.searchcontainer{
    text-align: center;
}
.sidebar{

    /* border: 1px  solid rgb(127, 127, 127); */
    border-radius: 10px 0px 10px 10px;
    height: 90vh;




}
.profilePhoto{
    border-radius: 50%;
}
.username{
    color: white;
    margin-left: 1vw;
}
.mainHeading{
    margin:auto;
    width: 90%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    /* background-color: red; */

}
.searchbutton{
    margin-top: 2px;
    cursor: pointer;

}
.searchbutton :hover{
    color: #959394;
}



@media (max-width:900px){
    .username{
        display: none;
    }
    .match{
        font-size: 10px;
    }
    .search{
        font-size: 5px;

    }
    .icon{
        font-size: 10px;
        /* display: inline; */
    }
  
    .mainHeading{
    width: 100%;
    display: block;

    }
}