
/* head part styling */

.fullbody {
  /* background-color: #40183a; */
}


.head{
  background-image: url('../../../../assets/images/pexels-caio-45960.jpg');
  height: 60vh;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;

}


.para{
  /* position: absolute; */
  max-width: 300px;
  text-align: center;
  padding: 30px;
  color: white;
  margin-left: 70vw;
  padding-top: 20vh;
  
  
}
.lines{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.preferencebutton{
  padding: 2px 30px;
  border:none;
  border-radius: 10px;
  background-color: #eb116f;
  color: white;
  
}

.preferencebutton:hover{
  color: black;
}


/* about part styling */

.about{
  height: 40vh;
  background-color: rgb(70, 53, 31);
}



