/* @import "~@fortawesome/fontawesome-free/css/all.css"; */

.custom-toast {
  background: white !important;
  color: #3a0933 !important;
  padding: 16px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  align-items: center;
}

.custom-toast-body {
  font-size: 16px;
  margin-left: 10px;
}

.custom-toast-progress {
  background: red !important;
}

.custom-toast .alert-icon {
  margin-right: 10px;
  color: red;
}

