

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #641842!important;
  height: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbarLogo{
  width: 20vh;  /* Set the desired width */
  height: 10vh;
  padding: 8px;
}

.logo {
  font-size: 1.8rem;
  color: rgb(5, 5, 116);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}


.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: #641842;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  
}

.nav__link a:hover {
  border-bottom: white 2px solid;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 100px;
    background: none;
    color: white;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
  .nav__link  a:hover {
    display: inline-block;
    padding: 15px 20px;
  }
 
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #40183A, #A63E96);
    height: 10vh;

  }
}