.navbar1 {
  background: linear-gradient(to right, #40183a, #a63e96);
  text-align: center;
}
.logo {
  margin: auto;
  width: 15vh; 
  height: 6vh;
  padding: 4px; 
}
.adminnavbar {
  background: black;
  text-align: center;
}
