.footerbar{
    background: linear-gradient(to right, #40183A, #A63E96);
    text-align:center;
    height: 7vh;
    margin-bottom: 0rem;
    
}
.adminfootbar{
    background: linear-gradient(to right, #773f32, #3b3531,#773f32);
    text-align:center;
    height: 7vh;
    margin-bottom: 0rem;
    
}